/* VideoSection.css */
.video-section {
  margin-top: 60px; /* space for fixed header */
  display: flex;
  justify-content: center;
  background-color: white;
  width: 100%;
}

.video-section .background-video {
  width: 80%;
  height: auto;
  margin-left: 310px;
  pointer-events: none; /* Disable all interactions */
  -webkit-tap-highlight-color: transparent; /* Remove mobile tap highlight */
}

/* Tablet and Mobile Styles */
@media (max-width: 1024px) {
  .video-section .background-video {
    width: 90%;
    margin-left: 150px;
  }
}

/* Mobile Styles */
@media (max-width: 768px) {
  .video-section .background-video {
    width: 100%;
    margin-left: 0;
  }
}